@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body, html {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif !important;
    background-color: #f2f2f2;
}

.main-container {
    margin-left: 20%; /* Adjust this to the width of your navbar */
    padding: 20px;
}

.search-container {
    margin-bottom: 20px;
}

.search-container input[type="search"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
}

.content-container {
    background-color: #fff;
    padding: 5px 20px 20px 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

.cv-filtering,
.upload-cvs {
    display: inline-block;
    vertical-align: top;
    width: calc(50% - 10px);
    margin-left: 0px;
    float:right;
    
}

.cv-filtering {
    margin-left: 20px;
    float:left;
}

.filter-input,
.file-upload {
    display: flex;
    margin-bottom: 10px;
}

.filter-input label,
.file-upload .file-name {
    margin-right: 10px;
    line-height: 2;
}

.file-upload .btn-upload {
    padding: 10px 15px;
    background-color: #0056b3;
    color: #fff;
    border: none;
    cursor: pointer;
}

.cv-table {
    width: 50%;
    border-collapse: collapse;
    margin: auto;
    margin-top: 20px;
    text-align: center;

}
.email-table,#eventsTable {
    width: 80%;
    border-collapse: collapse;
    margin: auto;
    margin-top: 20px;
    text-align: center;
}

.cv-table thead,.email-table thead,#eventsTable thead,#eventPopup thead {
    background-color: #f2f2f2;
}

.cv-table thead th,.email-table thead th , #eventsTable thead th , #eventPopup thead th{
    padding: 10px;
    text-align: center;
}

.cv-table tbody td,.email-table tbody td , #eventsTable tbody td , #eventPopup tbody td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.cv-table tbody tr:last-child td,.email-table tbody tr:last-child td , #eventsTable tbody tr:last-child td{
    border-bottom: none;
}
.events-container{

    margin-bottom: 20px;
    margin-top : 20px;
}
.btn-remove {
    padding: 5px 10px;
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    cursor: pointer;
}

.btn-remove:hover {
    background-color: #e33e3e;
}


#uploadForm{
    display: flex;
    align-items: center;
}
#uploadButton{
    height: 50px;
    width: 150px;
}
.keyword-etiquette {
    display: inline-block;
    margin-right: 5px;
    background-color: #e0e0e0;
    padding: 5px;
    border-radius: 5px;
}


.calendar {
    border: 1px solid #ccc;
    width: 90%;
    margin: 0 auto;
}
.calendar-header {
    background-color: #f0f0f0;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.calendar-header button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    outline: none;
}
.calendar-header button:hover {
    color: #333;
}
.calendar-month-year {
    font-size: 24px;
    font-weight: bold;
    flex-grow: 1;
}
.calendar-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-top: 1px solid #ccc;
}
.calendar-day {
    border: 1px solid #ccc;
    padding: 5px;
    height: 100px;
    text-align: center;
    cursor: pointer;
    position: relative;
    
}
.current-day {
    background-color: #f0f0f0 !important;
}
.event-marker {
    position: absolute;
    bottom: 42px;
    left: 51px;
    font-size: 14px;
    color: #555;
}
.day-name {
    border-bottom: 1px solid #ccc;
    padding: 5px;
    font-weight: bold;
    margin: auto;
}

.calendarHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.eventModal .buttonX, #eventPopup .buttonX{
position: relative;
top: 0;
left: 103%;
width: 25px;
height: 25px;
font-size: 18px;
border-radius: 20px;
background-color: #e33e3e;
color: white ;
font-weight: 900;
border-color: #ff4d4d;
}
.eventModal .buttonX:hover , #eventPopup .buttonX:hover{
     cursor:pointer;
}

.eventModal{
    width : 500px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 10px 50px;
    position: absolute;
    z-index: 999;
    top : 25%;
    left: 40%;
    filter: none !important;
}
.eventModal input {
    margin-bottom: 10px;

}
.eventModal label{
    margin-bottom: 5px;
    
}

.blur{
    filter: blur(5px);
}
.hide{
    display: none;
}

.footer{
    margin-left : 350px;
    margin-top : 10px;
    margin-bottom: 20px;
}

.eventButton{
    padding : 5px 15px;
    background-color: #156707;
    border-radius: 10px;
    color :white;
    font-weight: 700;
    font-size: 18px;
}

#eventPopup{
    position: absolute;
    z-index: 999;
    width: 700px;
    top: 30%;
    left: 37%;
    background-color: #fff;
    padding:  10px 20px;
}
#eventPopup table{
    width: 100%;
    text-align: center;
    margin: 10px;
    border-collapse:collapse ;
}

#eventPopup .buttonX{
    left: 67%;
}

#eventPopup header {
    display: flex;
}